Repository mijndert/aws-tf-reference: changes, and which Atlantis projects are due for each by the changed paths.
All: DUMMY_DIR, example-00-shared, example-01-backend, example-02-frontend

atlantis.yaml:

version: 3

projects:
  # Contains all defaults for every project.
  - &project_defaults
    # `dir` is a required field so we just fill it with dummy data.
    # Overwrite this field in each of your projects.
    dir: DUMMY_DIR
    autoplan:
      when_modified: ["./**/*.tf"]
      enabled: true

  # -- Actual project setup -- #
  # environments/example
  - <<: *project_defaults
    name: example-00-shared
    dir: environments/example/00-shared
    autoplan:
      when_modified:
        - "./**/*.tf"
        - "../../../modules/account/*.tf"
        - "../../../modules/rds-mysql/*.tf"
        - "../../../modules/vpc/*.tf"
        
  - <<: *project_defaults
    name: example-01-backend
    dir: environments/example/01-backend
    autoplan:
      when_modified:
        - "./**/*.tf"
        - "../../../modules/ecr/*.tf"
        - "../../../modules/eks/*.tf"

  - <<: *project_defaults
    name: example-02-frontend
    dir: environments/example/02-frontend
    autoplan:
      when_modified:
        - "./**/*.tf"
        - "../../../modules/ecr/*.tf"
        - "../../../modules/eks/*.tf"

Setting vpc.environment instead of using variable
  environments/example/00-shared/vpc/main.tf
Due: example-00-shared

Updates README
  README.md
  atlantis.yaml
Due: none

Adds .idea/ to .gitignore
  .gitignore
Due: none

Make EKS version a variable and set to 1.29
  environments/example/01-backend/eks/main.tf
  modules/eks/cluster.tf
  modules/eks/variables.tf
Due: example-01-backend, example-02-frontend

Rewrites codebase to use tfvars
  .gitignore
  LICENSE
  README.md
  example-deployment/Taskfile.yml
  example-deployment/config/production.tfvars
  example-deployment/eks-cluster.tf
  example-deployment/production/.gitkeep
  example-deployment/staging/.gitkeep
  example-deployment/state.tf
  example-deployment/variables.tf
  example-deployment/vpc.tf
  remote-state/README.md
  remote-state/main.tf
  remote-state/output.tf
  remote-state/variables.tf
Due: none

Switch to OpenTofu
  README.md
  example-deployment/Taskfile.yml
  example-deployment/backend.tf
  example-deployment/config/production.tfvars
  example-deployment/provider.tf
  example-deployment/variables.tf
  example-deployment/versions.tf
  remote-state/Taskfile.yml
  remote-state/variables.tf
Due: none

Add comment about NAT gateway setup
  example-deployment/config/production.tfvars
Due: none

Ready for release
  README.md
  example-deployment/config/production.tfvars
  kubernetes/README.md
  kubernetes/hello-world-deployment.yml
Due: none

Sets resource requests and limits
  kubernetes/README.md
  kubernetes/hello-world-deployment.yml
Due: none
